body {
  background-color: #f7f3ff;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 1.5em;
  margin-bottom: 1em;
}

#main {
  margin: 0 auto;
  text-align: center;
}
