#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 1.5em;
  margin-bottom: 1em;
  background: #2d5d7b;
}

#header > a {
  color: #fff;
}

#main {
  margin: 0 auto;
  text-align: center;
}

#main input {
  font-size: 16px;
}

#property-card * {
  color: #000;
  text-align: left;
}

#property-card,
#review-card {
  background: #ffffff;
  padding: 1em 2em;
  width: 75vw;
  margin: 1em auto;
  justify-self: center;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  text-align: left;
}

#property-card {
  display: flex;
  align-items: center;
  gap: 2%;
  justify-content: space-between;
}

#property-card button {
  background: transparent;
  border-color: #c0c0c0;
}

#review-container {
  background: #fcfcfc;
  padding: 1em;
}

#review-container form > textarea,
#review-container form > input {
  width: 75vw;
  padding: 1em;
  border: 1px solid #d4d4d4;
  border-radius: 8px;
  display: block;
  justify-self: center;
  margin: 1em auto;
}

#review-container form > textarea {
  min-height: 10vh;
}

#review-container form > label {
  display: block;
  font-weight: bold;
  margin: 1em 0 0.4em 0;
}

#review-container form > button {
  background: #797979;
  color: white;
  font-weight: bold;
}

#search-form form > input,
#filters > select {
  min-height: 40px;
  margin: 1em;
  padding: 0 10px;
  border-radius: 8px;
  border: 1px solid #d4d4d4;
}
